

header {
  background-color: rgb(87, 165, 226);
  height: auto;
}

.header-elements-container {
  display: flex;
  flex-direction: row;
  border: 2px solid red;
}

.header-logo {
  width: 40%;
  margin-left: 7%;
  margin-top: 1%;
  margin-bottom: 1%;
  height: auto;
}

.fa {
  color: white;
  padding-top: 7%;
  border: 1px solid yellowgreen;
}

.fa-twitter {
  margin-left: 8%;
  margin-right: 25px;
}

.fa-money-bill-wave {
    transform: rotate(135deg);
  }

.donate {
  color: white;
  text-align: center;
  width: 100px;
  height: 30px;
  font-size: 20px;
  background-color: rgb(228, 93, 88);
  margin-top: 4%;
  margin-left: 10px;
  border-radius: 6px;
  padding: 15px 0;
  border: 1px solid magenta;
}

body {
  background-color: rgb(50, 117, 171);
  margin: 0;
}

main {
  margin: 0;
  position: relative;
  background-size: contain;
  overflow: hidden;
}

.city-image-container {
  height: auto;
}

.city {
  width: 100%;
  position: absolute;
}

.main-all-container {
    display: flex;
    border: 4px solid black;
    position: relative;
    height: 9%;
  }

.headshot {
  z-index: 1;
  width: 35%;
  height: auto;
  margin-left: 10%;
  /* margin-top: -30px; */
  /* margin-bottom: 45px; */
  position: relative;
  overflow: hidden;
  top: 15px;
  border: 1px solid black;
}

.main-text-container {
  margin-top: 6%;
  border: 1px solid green;
  position: relative;
  margin-left: 4%;
  width: 40%;
}

.text {
  z-index: 1;
  width: 450px;
  font-size: 28px;
  position: relative;
  margin-top: 40px;
  margin-bottom: 0;
  color: rgb(50, 117, 171);
  border: 1px solid red;
}

.off-color-text {
    color: rgb(87, 165, 226);
  }

  .sign-up {
    z-index: 1;
    height: 72px;
    width: 210px;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    position: relative;
    margin-top: 8px;
    padding: 6px 0 0 10px;
    color: rgb(87, 165, 226);
    border: 1px solid yellow;
  }

  .sign-up-prompt {
    font-size: 8px;
    color: black;
    margin-top: 6px;
    border: 1px solid blue;
  }

  .form-container {
    display: flex;
    margin-top: 6px;
  }

  .email {
    font-size: 12px;
    width: 90px;
    height: 15px;
    margin-right: 10px;
    border: 1px solid purple;
  }

  .zip {
    font-size: 12px;
    width: 35px;
    height: 15px;
    margin-right: 10px;
    border: 1px solid purple;
  }

  .join-button {
    font-size: 12px;
    width: 50px;
    height: 18px;
    color: white;
    text-align: center;
    background-color: rgb(232, 143, 93);
    border-radius: 6px;
    line-height: 14px;
    border: 1px solid purple;
  }

  .join-arrow {
    font-size: 16px;
  }

  footer {
  }

  .footer-logo {
    width: 25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    margin-bottom: 6px;
    margin-top: 25px;
    /* position: static; */
  }

  .address {
    color: white;
    text-align: center;
    margin: 0;
    font-size: 12px;
  }

  .privacy-policy {
    color: white;
    text-align: center;
    margin: 0;
    font-size: 12px;
  }

  .paid-for-by {
    color: white;
    border: 1px solid white;
    text-align: center;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
  }

@media (min-width: 600px) {
  header {
    background-color: blue;
  }
  
  
  .header-logo {
    width: 36%;
    margin-left: 8%;
    height: auto;
  }
    
    .fa-twitter {
        margin-left: 8%;
        margin-right: 30px;
    }
    
    .fa-money-bill-wave {
        transform: rotate(135deg);
    }
    
    .donate {
        text-align: center;
        width: 130px;
        font-size: 24px;
        margin-top: 4.4%;
        margin-left: 25px;
        border-radius: 6px;
        border: 1px solid magenta;
    }
    
    
    .main-text-container {
        margin-top: 4%;
        border: 1px solid green;
        position: relative;
        margin-left: 4%;
        width: 40%;
    }
    .text {
        font-size: 35px;
        position: relative;
        margin-top: 40px;
        margin-bottom: 12px;     
           border: 1px solid red;
    }
    
    
    .sign-up {
        height: 84px;
        width: 250px;
        font-size: 20px;
        margin-top: 10px;
        padding: 9px 0 0 12px;
    }
    
    .sign-up-prompt {
        font-size: 10px;
        margin-top: 8px;
    }
    
    .form-container {
        margin-top: 8px;
    }
    
    .email {
        font-size: 14px;
        width: 115px;
        height: 18px;
        margin-right: 10px;
        border: 1px solid purple;
    }
    
    .zip {
        font-size: 14px;
        width: 42px;
        height: 18px;
        margin-right: 10px;
        border: 1px solid purple;
    }
    
    .join-button {
        font-size: 14px;
        width: 60px;
        height: 22px;
        border-radius: 6px;
        line-height: 20px;
        border: 1px solid purple;
    }
    
    .join-arrow {
        font-size: 20px;
    }
    
    footer {
    }
    
    .footer-logo {
        margin-bottom: 6px;
        margin-top: 30px;
    }
    
    .address {
        margin: 0;
        font-size: 15px;
    }
    
    .privacy-policy {
        margin: 0;
        font-size: 15px;
    }
    
    .paid-for-by {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        font-size: 15px;
    }
}


@media (min-width: 900px) {
    header {
        background-color: red;
        height: auto;
    }
    
    .header-logo {
margin-left: 12%;
    }
    
    .fa {
        padding-top: 8%;
    }
    
    .fa-twitter {
        margin-left: 12%;
        margin-right: 35px;
    }
    .donate {
        text-align: center;
        width: 180px;
        font-size: 32px;
        margin-top: 5.2%;
        margin-left: 32px;
        padding: 30px 0;
        line-height: 28px;
        border-radius: 6px;
        border: 1px solid magenta;
    }
    

    
    .headshot {
        z-index: 1;
        width: 33%;
        margin-left: 10%;
        margin-top: -30px;
        margin-bottom: 45px;
        position: relative;
        overflow: hidden;
        top: 80px;
        border: 1px solid black;
    }
      
  
  .main-text-container {
    margin-top: 6%;
    position: relative;
  }

  .text {
    font-size: 54px;
    margin-bottom: 20px;
  }
  
  .sign-up {
      height: 140px;
      width: 400px;
      font-size: 35px;
      position: relative;
      margin-top: 10px;
      padding: 12px 0 0 15px;
    }
    
    .sign-up-prompt {
        font-size: 15px;
        margin-top: 10px;
    }
    
  
    .form-container {
      margin-top: 24px;
    }
  
    .email {
      font-size: 20px;
      width: 210px;
      height: 28px;
      margin-right: 10px;
    }
  
    .zip {
      font-size: 20px;
      width: 80px;
      height: 28px;
      margin-right: 10px;
    }
  
    .join-button {
      font-size: 20px;
      width: 80px;
      height: 32px;
      border-radius: 6px;
      line-height: 27px;
    }
  
    .join-arrow {
      font-size: 30px;
    }
  
    .footer-logo {
      margin-bottom: 6px;
      margin-top: 40px;
      width: 20%;
      margin-left: 40%;
      margin-right: 40%;
    }
  
    .address {
      font-size: 18px;
    }
  
    .privacy-policy {
      font-size: 18px;
    }
  
    .paid-for-by {
      width: 380px;
      font-size: 18px;
    } 
}

@media (min-width: 1200px) {
    header {
        background-color: purple;
      }

  
  .header-logo {
    width: 27%;
    margin-left: 15%;
  }
  
  .fa {
    padding-top: 7%;
  }
  
  .fa-twitter {
    margin-left: 20%;
  }
  
  .donate {
    width: 260px;
    font-size: 40px;
    margin-top: 5%;
    margin-left: 30px;
    padding: 35px 0;

  }
  
  .headshot {
    width: 36.359%;
    top: 144px;
    margin-left: 10%;
    margin-top: -46px;
    margin-bottom: 45px;
  }

  .main-text-container {
    margin-top: 10%;
  }

  .text {
    width: 550px;
    font-size: 65px;
  }
  
    .sign-up {
      height: 184px;
      width: 500px;
      font-size: 40px;
      margin-top: 10px;
      padding: 15px 0 0 20px;
    }
  
    .sign-up-prompt {
      font-size: 18px;
      margin-top: 15px;
    }
  
    .form-container {
      margin-top: 27px;
    }
  
    .email {
      font-size: 25px;
      width: 275px;
      height: 40px;
      margin-right: 12px;
    }
  
    .zip {
      font-size: 25px;
      width: 105px;
      height: 40px;
      margin-right: 12px;
    }
  
    .join-button {
      font-size: 25px;
      width: 80px;
      height: 44px;
      border-radius: 6px;
      line-height: 40px;
    }
  
    .join-arrow {
      font-size: 36px;
    }
  
  
    .footer-logo {
      width: 18%;
      margin-left: 41%;
      margin-right: 41%;
      margin-bottom: 6px;
      margin-top: 40px;
    }
  
    .address {

    }
  
    .privacy-policy {

    }
  
    .paid-for-by {
      text-align: center;
      width: 380px;
    } 
}

@media (min-width: 1500px) {
    header {
        background-color: green;

      }

  .header-logo {
    width: 25%;
    margin-left: 18%;
  }
  
  .fa {
    padding-top: 7.2%;
  }
  
  .fa-twitter {
    margin-left: 16%;
  }
  

  .donate {
    width: 290px;
    font-size: 50px;
    margin-top: 4.9%;
    margin-left: 10px;
  }
 
  
  .headshot {
    width: 33%;
    top: 180px;
    margin-top: -40px;
    margin-bottom: 45px;
    position: relative;
    overflow: hidden;
  }
  
  .main-text-container {
    margin-top: 15%;
  }

  .text {
    width: 650px;
    font-size: 78px;
  }
  
    .sign-up {
      height: 200px;
      width: 590px;
      font-size: 50px;
      margin-top: 10px;
      padding: 18px 0 0 24px;
    }
  
    .sign-up-prompt {
      font-size: 24px;
      margin-top: 10px;
    }
  
    .form-container {
      margin-top: 32px;
    }
  
    .email {
      font-size: 32px;
      width: 330px;
      height: 52px;
      margin-right: 15px;
    }
  
    .zip {
      font-size: 32px;
      width: 120px;
      height: 52px;
      margin-right: 15px;
    }
  
    .join-button {
      font-size: 32px;
      width: 90px;
      height: 56px;
      border-radius: 6px;
      line-height: 48px;
    }
  
    .join-arrow {
      font-size: 42px;
    }
  
    footer {
    }
  
    .footer-logo {
      width: 40%;
      margin-left: 30%;
      margin-right: 30%;
      margin-bottom: 6px;
      margin-top: 40px;
      position: static;
    }
  
    .address {
      color: white;
      text-align: center;
      margin: 0;
      font-size: 20px;
    }
  
    .privacy-policy {
      color: white;
      text-align: center;
      margin: 0;
      font-size: 20px;
    }
  
    .paid-for-by {
      color: white;
      border: 1px solid white;
      text-align: center;
      width: 380px;
      margin-left: auto;
      margin-right: auto;
      font-size: 20px;
    } */
}
